@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300;400&display=swap');
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

:root {
    --white: #ffffff;
    --black: #000000;
    --title-shadow: #CCCCCC;
    --login-box-border: #D9D9D9;
    --login-input-background: #F6F6F6;
    --admin-top-row: #EFEEEF;
    --footer-text: #21243D;
    --footer-copyrights: #8695A4;
    --button-default-color-1: #EA1D5D;
    --button-hover-color-1: #ad1457;
    --button-default-color-2: #EFEFEF;
    --channel-name: #606060;
}

* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.App {
    background-image: url('./images/streak.svg');
    background-repeat: no-repeat;
    background-position: 50% 10%;
    height: 100vh;
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 18vh;
}
.header-title {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.mobile-header-title {
    display: none;
}
.pc-only-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1440px;
    height: 20vh;
}
.pc-only-header h2 {
    margin-block-end: 0;
}
.header-mode-name {
    display: flex;
    justify-content: center;
}
.header-mode-name h2 {
    margin-block-end: 0;
}
.top-content {
    margin: 18px 0;
}
.chat {
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: scale(1.2);
    -o-transform: scale(1.2); 
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    padding: 17px 0;
}
@media (max-width: 768px) {
    .header {
        height: 200px;
        padding: 4px 0 0 0;
    }
    .pc-header-title {
        display: none;
    }
    .mobile-header-title {
        display: block;
        transform: scale(0.9);
        -o-transform: scale(0.9); 
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
    }
    .top-content {
        margin: 0;
        padding: 0 !important;
        height: 200px;
    }
    .chat {
        padding: 0;
        transform: scale(0.9);
        -o-transform: scale(0.9); 
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
    }
}
.chat div {
    height: 40px;
    width: 320px;
    display: inherit;
    justify-content: flex-end;
}
#bubble-3 {
    justify-content: flex-start;
}

@keyframes smooth-appear {
    from {
      opacity: 0;
      transform: translateY(5%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

/* Body */
.default-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 0 10px;
}
.recommend-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 60vh;
    padding: 20px 0 10px;
}
.pc-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 1440px;
    padding: 0 0 40px;
}
.pc-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
.top-content {
    padding: 14px 0;
}
.detail {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: calc(17px + 0.3vw);
    display: inherit;
    flex-direction: column;
    align-items: center;
    padding: 12px 0;
}
.detail p {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
    font-weight: 400;
}
#last-detail {
    display: inline-flex;
}
#main-btn {
    margin: 29px 0 0;
}
#select-mode {
    display: inherit;
    justify-content: center;
    min-height: 60vh;
}
#list-mode {
    display: inherit;
    min-height: 60vh;
    padding: 10px 0 0;
    border-bottom: 2px solid var(--black);
}
.img-wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 165px;
    padding: 0 20px 0 0;
}
.img-wrapper img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.img-wrapper div {
    width: fit-content;
    height: 20px;
    margin: -25px 5px 0 auto;
    padding: 0 4px;
    background-color: var(--black);
    color: var(--white);
    border-radius: 2px;
    font-size: 13px;
}
.small-img-wrapper {
    width: 150px;
    height: 82.5px;
    padding: 0 9px 0 0;
}
.small-img-wrapper img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.vid-infos {
    display: inherit;
    flex-direction: column;
}
.vid-infos h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 라인수 */
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}
.vid-infos p {
    font-size: 18px;
    color: var(--channel-name);
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.vid-infos p:nth-child(3) {
    font-size: 17px;
}
.channel-info {
    display: flex;
    flex-direction: row;
    padding: 0 0 6px 0;
}
.vid-info-avatar {
    max-width: 26px;
    max-height: 26px;
    padding: 0 8px 0 0;
}
.vid-info-avatar img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.error-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.error-msg h1 {
    margin-block-end: 1em;
}
@media (max-width: 768px) {
    .default-body {
        margin-top: -16px;
    }
    .container {
        padding: 0;
    }
    .detail {
        font-size: 16px;
        font-weight: 500;
        padding: 15px 0 12px 0;
    }
    #last-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #main-btn {
        margin: 16px 0 0;
    }
    #select-mode {
        min-height: 50vh;
    }
    .img-wrapper {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 165px;
        padding: 0;
    }
    .img-wrapper img {
        width: inherit;
        height: inherit;
        object-fit: cover;
    }
    .img-wrapper div {
        height: 20px;
        margin: -25px 4px 0 auto;
        padding: 0 4px;
        background-color: var(--black);
        color: var(--white);
        border-radius: 2px;
        font-size: 12px;
    }
    .vid-info-wrapper {
        display: flex;
        flex-direction: row;
        max-width: 300px;
    }
    .vid-info-avatar {
        max-width: 34px;
        max-height: 34px;
        padding: 10px 10px 0 0;
    }
    .vid-info-avatar img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 50%;
    }
    .vid-infos {
        width: 256px;
        padding-top: 4px;
    }
    .vid-infos p:first-child {
        font-weight: bold;
        font-size: 17.3px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* 라인수 */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
    }
    .vid-infos p:nth-child(n+2) {
        font-size: 15px;
        color: var(--channel-name);
        margin-block-start: 0em;
        margin-block-end: 0em;
    }
}
/* Admin */
.admin-spinner {
    display: flex;
    align-items: center;
    height: 300px;
}
.admin-click-to-watch {
    display: inherit;
    flex-direction: inherit;
    align-items: center;
    cursor: pointer;
}
#trash-btn {
    cursor: pointer;
}

/* Footer */
.footer {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: calc(11px + 0.14vw);
    color: var(--footer-text);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 0 10px;
}
.footer p {
    margin-block-start: 0.3em;
    margin-block-end: 0.22em;
}
.email {
    display: inline-flex;
}
.email a {
    color: var(--footer-text);
}
.email p:nth-child(2) {
    text-decoration: underline;
    cursor: pointer;
}
#copyright {
    padding: 7px 0;
    color: var(--footer-copyrights);
}