@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
.title h1 {
    font-family: 'Indie Flower', cursive;
    font-size: calc(38px + 1.0vw);
    margin-block-start: 0.3em;
    margin-block-end: 0.22em;
}
.detail {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: calc(17px + 0.3vw);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.detail p {
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}